@tailwind base;
@tailwind components;
@tailwind utilities;

/* *, body {
  /* font-family: sans-serif; 
  font-family:"Montserrat",sans-serif;
} */

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-theme {
  background-color: #ed3237;
}
/* Em seu arquivo global de CSS */
/* .loader {
  border-top-color: #3498db;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/*header*/
